/*
// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Fonts (embed)
// * Xxxxxx
//   - Regular
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////
*/

/*
// Xxxxxx
// ============================================================
*/

/* Regular */
/* @font-face {
  font-family: 'Xxxxx-Regular';
  src: url('../fonts/xxxxx/xxxxx-regular.eot');
  src: url('../fonts/xxxxx/xxxxx-regular.eot') format('embedded-opentype'),
    url('../fonts/xxxxx/xxxxx-regular.woff') format('woff'),
    url('../fonts/xxxxx/xxxxx-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
